* {
  font-family: "Book Antiqua", Garamond, Sans-serif;
}

body {
  background-color: #fefae0;
}

.home {
  width: 600px;
  margin: 16px auto;
}

h1 {
  width: fit-content;
  padding: 10px 0;
  color: #283618;
  margin: 0 auto;
}

.line {
  color: red;
}

#recipes {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.recipe-item {
  list-style-type: none;
  margin: 12px auto;
  background-color: #dda15e;
  padding: 8px 12px;
  display: block;
  height: fit-content;
  border-radius: 0.5em;
}

.recipe-item img {
  width: 300px;
  margin-top: 5px;
  border-radius: 0.5em;
}

.recipe-item a,
.home-btn {
  text-decoration: none;
  color: #283618;
  text-align: center;
  font-size: 24px;
  display: block;
}

.recipe-item p {
  margin: 12px auto;
}

.home-btn {
  background-color: #dda15e;
  width: fit-content;
  margin: 8px auto;
  padding: 12px 32px;
}

.recipe-item:hover,
.home-btn:hover {
  background-color: #bc6c25;
}

.recipe-page img {
  display: block;
  margin: 12px auto;
  width: 400px;
}

.ingredients,
.steps {
  margin: 12px auto;
  width: fit-content;
}

.steps li,
.ingredients li {
  color: #283618;
}

h2 {
  margin-top: 48px;
  text-align: center;
  color: #283618;
}

.description p {
  text-align: center;
  color: #283618;
}

.recipe-page {
  width: 600px;
  margin: 32px auto;
}

.steps li,
.ingredients li,
.description p {
  font-size: 20px;
  margin-top: 0.5em;
  line-height: 1.5em;
}
